<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <div class="main-content">
        
    {{>header}}
    <h1>About Page in views</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nam in dignissimos, facilis minus provident inventore eveniet neque cumque explicabo, molestiae sunt consequatur maxime expedita aliquam saepe totam deserunt blanditiis distinctio amet officiis porro similique quo libero. Soluta doloremque minus accusantium, pariatur atque, libero eius deserunt voluptatem asperiores neque itaque nulla ex obcaecati beatae nobis molestiae maiores laboriosam expedita, laborum quisquam minima sed sequi. Autem fugiat saepe soluta, laudantium pariatur voluptas, explicabo, nobis maxime architecto sed tempore. Ut totam dolor iure! Hic, unde! Ducimus perferendis asperiores mollitia, perspiciatis autem aut quasi nobis earum ipsam officiis, expedita quam rerum ea ut!</p>
    </div>
    
    {{>footer}}

</body>
</html>