<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/styles.css">

</head>
<body>
    <div class="main-content">
    {{>header}}
    <h1>Help Page</h1>
    <p>{{message}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, minima libero corporis est, debitis quam ab aliquid officia error, eius ea nostrum distinctio magni unde atque qui et ratione ipsam nam maxime? Vitae sequi deleniti aut perferendis nobis tempora molestiae, ducimus commodi temporibus tempore blanditiis at necessitatibus, libero perspiciatis id voluptatum consequuntur ipsam? Quam mollitia maxime accusantium vero, consequuntur architecto illum iusto corporis optio hic distinctio doloribus atque quisquam, quibusdam maiores. Architecto, corporis aperiam, totam ad delectus unde tenetur debitis omnis est a deserunt accusantium? Sapiente, expedita praesentium. Sit nisi tempora dolorum nobis explicabo earum recusandae sed aperiam repudiandae laborum?</p>
        
    </div>

    {{>footer}}
</body>
</html>